.tag {
  font-family: Helvetica, Arial, sans-serif;
  display: inline-flex;
  position: absolute;
}

.tag * {
  box-sizing: border-box;
}

.tag-icon-wrapper,
.tag-content {
  flex: 0 0 auto;
}

.tag-icon-wrapper {
  height: 25px;
  width: 25px;
  background: #fff;
  border-radius: 50%;
  transition: 0.2s;
  position: relative;
}

.tag-icon-wrapper.active {
  transform: scale(1.3);
}

.tag-content {
  display: inline-flex;
  align-items: center;
  background: #fff;
  opacity: 0;
  border-radius: 4px;
  padding: 8px;
  margin-left: 8px;
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  -ms-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
  flex-flow: row wrap;
  z-index: 1;
  visibility: hidden;
}

.tag-content.active {
  opacity: 1;
  visibility: visible;
}

.tag-thumbnail,
.tag-text,
.tag-button-wrapper {
  flex: 1 0 auto;
}

.tag-thumbnail {
  width: 40px;
  height: 40px;
}

.tag-text {
  margin-left: 10px;
}

.tag-title {
  margin: 0;
  font-size: 14px;
}

.tag-subtext {
  margin: 0;
  font-size: 12px;
}

.tag-button-wrapper {
  margin-left: 10px;
}

.tag-icon {
  width: 70%;
  margin: 0 auto;
  display: block;
  vertical-align: baseline;
  position: absolute;
  bottom: 4px;
  left: 4px;
}

.tag-button {
  background: #222;
  border-radius: 4px;
  color: #fff !important;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 300;
  padding: 0.7em 1em;
}

/******** Specific Tag Locations *********/
.tag.first-tag {
  top: 20px;
  left: 30px;
}

.tag.second-tag {
  top: 100px;
  right: 20px;
}

.tag.third-tag {
  top: 180px;
  left: 20px;
}

.tag.fourth-tag {
  top: 280px;
  right: 40px;
}

.tag.fifth-tag {
  top: 380px;
  left: 50%;
}

/* MAP STYLES */

#map {
  height: 100px;
  flex-basis: 100%;
}

#map a {
  display: none !important;
}

.gm-style .gm-style-cc a, .gm-style .gm-style-cc span {
  display: none !important;
}